tmp/useraccessinfomedia/tags/1.3/trunk/infomedia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" xmlns:uaim="http://oss.dbc.dk/ns/useraccessinfomedia" targetNamespace="http://oss.dbc.dk/ns/useraccessinfomedia" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!--<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>-->
  <xs:annotation>
    <xs:documentation xml:lang="eng">This XML Schema describes the data and structure of data of the UserAccessInfomedia-service.</xs:documentation>
  </xs:annotation>
  
  <xs:element name="checkArticleRequest" type="uaim:articleRequest">
    <xs:annotation>
      <xs:documentation xml:lang="eng">Sends a verification request for one or more articles together with user information</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="getArticleRequest" type="uaim:articleRequest">
    <xs:annotation>
      <xs:documentation xml:lang="eng">Sends a request for one or more articles together with user information</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="checkReviewRequest" type="uaim:workRequest">
    <xs:annotation>
      <xs:documentation xml:lang="eng">Sends a request to verify if one or more works has reviews together with user information</xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:element name="getReviewRequest" type="uaim:workRequest">
    <xs:annotation>
      <xs:documentation xml:lang="eng">Sends a request for reviews of one or more works together with user information</xs:documentation>
    </xs:annotation>
  </xs:element>


  
  <xs:element name="checkArticleResponse">
		<xs:annotation>
		  <xs:documentation xml:lang="eng">Returns a verification of whether each of  the requested article/articles is found or an error message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="uaim:checkArticleResponseDetails" maxOccurs="unbounded"/>
				<xs:element ref="uaim:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="checkReviewResponse">
		<xs:annotation>
			<xs:documentation xml:lang="eng">Returns the number of reviews found of each of the requested works or an error message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="uaim:checkReviewResponseDetails"/>
				<xs:element ref="uaim:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="getArticleResponse">
		<xs:annotation>
			<xs:documentation>Returns a verification of whether each of the requested article/articles is found and articles in full text. Or an error message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="uaim:getArticleResponseDetails" maxOccurs="unbounded"/>
				<xs:element ref="uaim:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="getReviewResponse">
		<xs:annotation>
			<xs:documentation>Returns the number of reviews found of each of the requested works and the id-number and full text of each of the reviews. Or an error message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="uaim:getReviewResponseDetails" maxOccurs="unbounded"/>
				<xs:element ref="uaim:error"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkArticleResponseDetails">
		<xs:annotation>
			<xs:documentation>Verification of whether each of the requested articles are found</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uaim:articleIdentifier"/>
				<xs:element ref="uaim:articleVerified"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkReviewResponseDetails">
		<xs:annotation>
			<xs:documentation>Number of reviews of each of the requested works found</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uaim:workIdentifier"/>
				<xs:element ref="uaim:reviewsCount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getArticleResponseDetails">
		<xs:annotation>
			<xs:documentation>Verification of whether each of the requested articles are found and each found article as full text</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uaim:articleIdentifier"/>
				<xs:element ref="uaim:articleVerified"/>
				<xs:element ref="uaim:imArticle" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getReviewResponseDetails">
		<xs:annotation>
			<xs:documentation>Number of reviews of each of the requested works found and  the id-number and full text of each of the reviews.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uaim:workIdentifier"/>
				<xs:element ref="uaim:reviewsCount"/>
				<xs:element ref="uaim:articleIdentifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="uaim:imArticle" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!--	<xs:element name="articleIdentifier">
		<xs:annotation>
			<xs:documentation>The id-number of a requested/returned article or a returned review</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="articleIdentifierType" type="uaim:articleIdentifierType"/>
		</xs:complexType>
	</xs:element> -->

	<xs:element name="imArticle">
		<xs:annotation>
			<xs:documentation xml:lang="eng">Format of the returned articles and reviews. Refers to the imported xhtml-namespace</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
			<!--	<xs:element ref="html"/> -->
			<xs:element name="html" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="articleVerified" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Is the the requested article verified?</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="error" type="uaim:errorType">
		<xs:annotation>
			<xs:documentation>Returns one of the error messages defined in errorType</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="libraryCode" type="uaim:libraryCodeType">
		<xs:annotation>
			<xs:documentation>The code of the user's library to be used in requests</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="reviewsCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of reviews found of a certain work</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userId" type="xs:string">
		<xs:annotation>
			<xs:documentation>The user's library id-number to be used in requests</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPinCode" type="xs:integer">
		<xs:annotation>
			<xs:documentation>The user's library pincode to be used in requests</xs:documentation>
		</xs:annotation>
	</xs:element>
<!--	<xs:element name="workIdentifier">
		<xs:annotation>
			<xs:documentation>The id-number of a reviewed work</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="workIdentifierType" type="uaim:workIdentifierType"/>
		</xs:complexType>
	</xs:element>
-->


<!-- pjo -->
	<xs:element name="callback" type="xs:string">
    <xs:annotation>
      <xs:documentation>The function to callback on JSON</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="outputType">
  <xs:simpleType name="outPutType">
    <xs:annotation>
      <xs:documentation>Defines the outputtype of the operation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="XML"/>
      <xs:enumeration value="JSON"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

 <xs:element name="operation">
    <xs:simpleType name="operationType">
      <xs:annotation>
	<xs:documentation>Defines which operation to perform</xs:documentation>
    </xs:annotation>
      <xs:restriction base="xs:string">
	<xs:enumeration value="getArticle"/>
	<xs:enumeration value="checkArticle"/>
	<xs:enumeration value="getReview"/>
	<xs:enumeration value="checkReview"/>
      </xs:restriction>
    </xs:simpleType>
</xs:element>
 

<!-- end pjo-->
<xs:complexType name="articleRequest">
  <xs:sequence>
    <xs:element ref="uaim:articleIdentifier" maxOccurs="unbounded"/>
    <xs:element ref="uaim:libraryCode"/>
    <xs:element ref="uaim:userId"/>
    <xs:element ref="uaim:userPinCode"/>
    <xs:element ref="uaim:callback" minOccurs="0"/>
    <xs:element ref="uaim:outputType" minOccurs="0"/>   
  </xs:sequence>
</xs:complexType>



<xs:complexType name="workRequest">
  <xs:sequence>
    <xs:element ref="uaim:workIdentifier" maxOccurs="unbounded"/>
    <xs:element ref="uaim:libraryCode"/>
    <xs:element ref="uaim:userId"/>
    <xs:element ref="uaim:userPinCode"/>
    <xs:element ref="uaim:callback" minOccurs="0"/>
    <xs:element ref="uaim:outputType" minOccurs="0"/>   
  </xs:sequence>
</xs:complexType>


<!--	<xs:simpleType name="articleIdentifierType">
		<xs:annotation>
			<xs:documentation>Type of identifier in requests and responses representing an article in the DanBib database</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="faust"/>
		</xs:restriction>
	</xs:simpleType> -->

	<!-- pjo -->
<xs:element name="articleIdentifier">
<xs:complexType name="articleIdentifierType">
  <xs:choice>
    <xs:element ref="uaim:faust"/>
    <!--pjo added uaim:file as direct path to infomedia-article-->
    <xs:element ref="uaim:file"/>	
  </xs:choice>
</xs:complexType>
</xs:element>

<xs:element name="workIdentifier">
<xs:complexType name="workIdentifierType">
  <xs:choice>
    <xs:element ref="uaim:isbn"/>
    <xs:element ref="uaim:faust"/>
  </xs:choice>
</xs:complexType>
</xs:element>

<xs:element name="file" type="xs:string"/>
<xs:element name="isbn" type="xs:string"/>
<xs:element name="faust" type="xs:string"/>

<!--	<xs:simpleType name="workIdentifierType">
		<xs:annotation>
			<xs:documentation>Type of identifier in requests and responses</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="faust"/>
			<xs:enumeration value="isbn"/>
		</xs:restriction>
	</xs:simpleType> -->

	<xs:simpleType name="errorType">
		<xs:annotation>
			<xs:documentation>Possible error messages</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="service_not_licensed"/>
			<xs:enumeration value="service_unavailable"/>
			<xs:enumeration value="library_not_found"/>
			<xs:enumeration value="error_in_request"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="libraryCodeType">
		<xs:annotation>
			<xs:documentation>Defines the pattern of a valid libraryCode (ISIL)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="DK-[6-8][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
